<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Integrador</title>
    <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/containers.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/toast.css">
    <link rel="stylesheet" href="../styles/menu.css">
    <script src="../scripts/home-mentor.js" defer></script>
    <script src="../scripts/toast.js" defer></script>
  </head>
  <body>
    <nav class="container-items nav-container">
      <ul class="menu-items flex-start">
        <button class="burger loading" disabled>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></svg>
        </button>
        <div class="menu">
          <h2>Histórico de treinamentos</h2>
          <div class="trainings-report"></div>
        </div>
      </ul>
      <h1 class="username">Seja Bem-vindo, <%= name %>!</h1>
    </nav>
    <section class="container-items">
      <ul class="menu-items flex column">
        <li>
          <p data-item="Atividades&nbsp;no&nbsp;Sistema">Atividades&nbsp;no&nbsp;Sistema</p>
        </li>
        <section class="activities">
          <div class="all-activities flex column hidden"></div>
        </section>
      </ul>
    </section>
    <div id="toast">
      <div id="toast-icon">
        <img src="../images/error.png">
      </div>
      <div id="description"></div>
    </div>
  </body>
</html>
